# 1) How-to-count-distance-to-the-previous-zero
### For each value, count the difference of the distance from the previous zero (or the start
### of the Series, whichever is closer) and if there are no previous zeros,print the position
### Consider a DataFrame df where there is an integer column {'X':[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}
### The values should therefore be [1, 2, 0, 1, 2, 3, 4, 0, 1, 2]. Make this a new column 'Y'.
### import pandas as pd
### df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [1]:
import pandas as pd

##### Solution1

In [2]:
def ind(s):
    j = 1
    list1 = []
    for i in range(len(s)):
        if s[i]:
            list1.append(j)
            j += 1
        else:
            list1.append(0)
            j = 1
    return pd.Series(list1)

##### Solution2

In [3]:
def ind1(s):
    return s.groupby((s != s.shift()).cumsum()).cumsum()

In [4]:
d={'X':[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}
df = pd.DataFrame(data = d)
df

s = df['X'] > 0
df['dist_0'] = ind(s)
df['dist_1'] = ind1(s) # output of second solution
df

   X  dist_0  dist_1
0  7       1     1.0
1  2       2     2.0
2  0       0     0.0
3  3       1     1.0
4  4       2     2.0
5  2       3     3.0
6  5       4     4.0
7  0       0     0.0
8  3       1     1.0
9  4       2     2.0

# 2) Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers

In [5]:
import pandas as pd
import numpy as np

ind = pd.bdate_range('2015-01-01', '2015-12-31')
rand_num = np.random.randn(len(ind))

s = pd.Series(data=rand_num, index=ind)

s

2015-01-01    0.652772
2015-01-02   -2.302544
2015-01-05    0.438016
2015-01-06    0.110500
2015-01-07   -1.201975
2015-01-08    0.901341
2015-01-09    0.925774
2015-01-12    0.638993
2015-01-13    0.237902
2015-01-14   -0.960598
2015-01-15    0.079418
2015-01-16    1.386340
2015-01-19    0.096511
2015-01-20    0.881615
2015-01-21   -0.658103
2015-01-22    0.498487
2015-01-23    2.321460
2015-01-26   -0.478478
2015-01-27   -0.171829
2015-01-28   -0.256081
2015-01-29   -1.260215
2015-01-30    1.029091
2015-02-02    1.088407
2015-02-03   -0.335885
2015-02-04   -1.387001
2015-02-05    1.119298
2015-02-06   -0.395622
2015-02-09    0.261353
2015-02-10   -0.167361
2015-02-11   -1.269239
                ...
2015-11-20    0.414535
2015-11-23   -0.305144
2015-11-24   -1.123849
2015-11-25   -0.958211
2015-11-26   -1.131331
2015-11-27    0.954952
2015-11-30   -0.522452
2015-12-01   -2.339074
2015-12-02   -0.030641
2015-12-03    0.062120
2015-12-04   -0.168488
2015-12-07    0.756059
2015-12-08    2.439436
2015-12-09   -0.020493
2015-12-10   -0.849967
2015-12-11    0.119876
2015-12-14   -0.253194
2015-12-15   -0.406824
2015-12-16   -1.377719
2015-12-17   -0.644254
2015-12-18   -0.076326
2015-12-21    0.461396
2015-12-22   -0.674744
2015-12-23   -1.709498
2015-12-24    0.719362
2015-12-25   -0.837160
2015-12-28   -0.614743
2015-12-29   -0.377087
2015-12-30    1.191814
2015-12-31    2.096335
Freq: B, Length: 261, dtype: float64

# 3) Find the sum of the values in s for every Wednesday

In [6]:
sum1 = sum(s[s.index.dayofweek == 2])
sum1

-18.700350992442573

# 4) Average For each calendar month

In [12]:
s.groupby(s.index.month).mean()

1     0.132200
2     0.090752
3    -0.261733
4     0.037770
5    -0.372750
6    -0.196973
7    -0.269211
8     0.079993
9    -0.104323
10   -0.148832
11    0.250250
12   -0.110166
dtype: float64

# 5) For each group of four consecutive calendar months in s, find the date on which the highest value occurred.

In [8]:
s1 = s.groupby(s.index.month).max() #groupby month
s2 = np.array_split(s1.values, 3) #split serties into 3 subsets

In [9]:
# s3 = [s2[i].max() for i in range(len(s2))] #get max for each subset
[s[s == s2[i].max()] for i in range(len(s2))]

[2015-03-27    2.99114
 Freq: B, dtype: float64, 2015-08-12    1.325452
 Freq: B, dtype: float64, 2015-12-08    2.439436
 Freq: B, dtype: float64]

In [10]:
#for i in s3:
#    print(s[s == i])

In [11]:
#s[s == s1[0:4].max()]